<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 

    "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    {% load staticfiles %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Fantasy Football League Stats</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'leaguestats/style.css' %}"/>
    <style>
    body {
        min-height: 2000px;
        padding-top: 70px;
        color: #333;
    }
    </style>

</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="../">Return to enter league number</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Find your league number</h2>
        <p>Log in to the <a href="http://www.fantasy.premierleague.com"  target='_blank'>Fantasy Premier League</a> website. Then click on the 'Leagues' link (as shown below)</p>
        <img src="{% static 'images/find_league_number_1.png' %}" class="img-responsive"/>
        <br />
        <p>Then pick one of your classic leagues. League stats are currently only available for classic leagues</p>
        <center><img src="{% static 'images/find_league_number_2.png' %}" class="img-responsive"/></center>
        <br />
        <p>The URL should look the same as below, you want the number given in the URL as highlighted</p>
        <center><img src="{% static 'images/find_league_number_3.png' %}" class="img-responsive"/></center>
        <br />
        <p>
          <a class="btn btn-lg btn-primary" href="../" role="button">Return to Enter League Number &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>


